@import url("https://fonts.googleapis.com/css?family=Oswald|Shadows+Into+Light&display=swap");

h1,
h2,
h3,
p,
span {
    margin: 0;
}

h2 {
    font-family: "oswald";
    font-size: 30px;
}

p,
button {
    font-family: "oswald";
}

#pickCity {
    text-align: center;
    padding: 10px;
}

input {
    padding: 10px;
    border: 1px solid black;
}

h3 {
    font-family: "shadows into light";
    font-size: 26px;
}

.weather {
    width: 90%;
    height: 60vh;
    border: 1px solid black;
    margin: 5px auto;
    display: grid;
    grid-template-rows: 20% 80%;
    text-align: center;
    padding: 25px 5px;
}

.degrees {
    font-family: "oswald";
    font-size: 20px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
}

@media screen and (min-width: 450px) {
    .container {
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-column-gap: 5px;
    }
}